
  <div class="container-table">
    <h2 class="mbr-section-title mbr-fonts-style align-center pb-3 display-2">{{position}}</h2>
    <div class="table-wrapper">

      <div class="container scroll">
        <table class="table">

          <thead>
            <tr class="table-heads table-heads-no-hover">
              <th class="head-item mbr-fonts-style display-7">VORNAME</th>
              <th class="head-item mbr-fonts-style display-7">NACHNAME</th>
              <th class="head-item mbr-fonts-style display-7">#</th>
              <th class="head-item mbr-fonts-style display-7">JAHRGANG</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let player of players" class="table-rows-hover">
              <td class="body-item mbr-fonts-style display-7">{{player.firstName}}</td>
              <td class="body-item mbr-fonts-style display-7">{{player.lastName}}</td>
              <td class="body-item mbr-fonts-style display-7">{{player.playerNumber}}</td>
              <td class="body-item mbr-fonts-style display-7">{{player.yearOfBirth}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
