<div class="container-table">
  <h2 class="mbr-section-title mbr-fonts-style align-center pb-3 display-2">
    {{"player.position." + position | translate}}
  </h2>
  <div class="table-wrapper">

    <div class="container scroll">
      <table class="table">

        <thead>
          <tr class="table-heads table-heads-no-hover">
            <th class="head-item mbr-fonts-style display-7">{{"team.table.FIRSTNAME" | translate}}</th>
            <th class="head-item mbr-fonts-style display-7">{{"team.table.LASTNAME" | translate}}</th>
            <th class="head-item mbr-fonts-style display-7">{{"team.table.NUMBER" | translate}}</th>
            <th class="head-item mbr-fonts-style display-7">{{"team.table.YEAROFBIRTH" | translate}}</th>
            <th class="head-item mbr-fonts-style display-7" style="width: 1%"></th>
          </tr>
        </thead>

        <tbody>
          <ng-container *ngFor="let player of players">
            <tr app-player-row [player]="player" class="table-rows-hover"></tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
