<div class="h2 player-table-title mbr-section-title mbr-fonts-style align-center pb-3 display-2">
    {{"player.position." + position | translate}}
</div>
<div class="player-table-head player-table-col1 head-item mbr-fonts-style display-7">
    #
</div>
<div class="player-table-head player-table-col2 head-item mbr-fonts-style display-7">
    {{"team.table.FIRSTNAME" | translate}}
</div>
<div
    class="player-table-head player-table-col3 head-item mbr-fonts-style display-7">
    {{"team.table.LASTNAME" | translate}}
</div>
<div class="player-table-head player-table-col4 head-item mbr-fonts-style display-7" fxShow
    fxShow.xs="false">
    {{"team.table.YEAROFBIRTH" | translate}}
</div>
<div class="player-table-head player-table-col5 player-table-last-col head-item mbr-fonts-style display-7" fxShow
    fxShow.xs="false"></div>
<div class="player-table-head player-table-col4 player-table-last-col head-item mbr-fonts-style display-7" fxHide
    fxHide.xs="false"></div>

<ng-container *ngFor="let player of players">
    <app-player-row [player]="player" class="player-table-row"></app-player-row>
</ng-container>
