<section class="header5 cid-s5Vo8ilAPK mbr-fullscreen mbr-parallax-background" id="header5-11">


    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(255, 255, 255);">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title align-center pb-3 mbr-fonts-style display-1">
                    <strong>FRONI FIGHTERS MOLLIS</strong>
                </h1>
                <p class="mbr-text align-center display-5 pb-3 mbr-fonts-style">
                    Diese Seite befindet sich im Aufbau.<br>
                </p>
            </div>
        </div>
    </div>
</section>
