<section class="engine"><a href="https://mobirise.info/h">how to create your own web page for free</a></section>
<section class="mbr-section form1 cid-s5JIDLyMU2" id="form1-m">


  <div class="container">
    <div class="row justify-content-center">
      <div class="title col-12 col-lg-8">
        <h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-2">Kontaktformular</h2>
        <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-5">
          Easily add subscribe and contact forms without any server-side integration.</h3>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="media-container-column col-lg-8" data-form-type="formoid">
        <!---Formbuilder Form--->
        <form action="https://mobirise.eu/" class="mbr-form form-with-styler" data-form-title="Mobirise Form"
              method="POST"><input data-form-email="true" name="email" type="hidden"
                                   value="p8IX2lsXSa2F2R6CLFVU1xkmNK3A1OkcINVMQ2PxX77syVAFV9TJF5nuX6mOgDeGMd+6WoxFFqJMdDLhmV/A8gzhQSXM59KznftS5OLOMz9ukeBw53kgUUFcMxJg+XSt">
          <div class="row">
            <div class="alert alert-success col-12" data-form-alert="" hidden="hidden">Danke für deine
              Kontaktaufnahme!
            </div>
            <div class="alert alert-danger col-12" data-form-alert-danger="" hidden="hidden">
            </div>
          </div>
          <div class="dragArea row">
            <div class="col-md-4  form-group" data-for="name">
              <label class="form-control-label mbr-fonts-style display-7" for="name-form1-m">Name</label>
              <input class="form-control display-7" data-form-field="Name" id="name-form1-m" name="name"
                     required="required"
                     type="text">
            </div>
            <div class="col-md-4  form-group" data-for="email">
              <label class="form-control-label mbr-fonts-style display-7" for="email-form1-m">Email</label>
              <input class="form-control display-7" data-form-field="Email" id="email-form1-m" name="email"
                     required="required" type="email">
            </div>
            <div class="col-md-4  form-group" data-for="phone">
              <label class="form-control-label mbr-fonts-style display-7" for="phone-form1-m">Telefon</label>
              <input class="form-control display-7" data-form-field="Phone" id="phone-form1-m" name="phone" type="tel">
            </div>
            <div class="col-md-12 form-group" data-for="message">
              <label class="form-control-label mbr-fonts-style display-7" for="message-form1-m">Nachricht</label>
              <textarea class="form-control display-7" data-form-field="Message" id="message-form1-m"
                        name="message"></textarea>
            </div>
            <div class="col-md-12 input-group-btn align-center">
              <button class="btn btn-primary btn-form display-4" type="submit">Absenden</button>
            </div>
          </div>
        </form><!---Formbuilder Form--->
      </div>
    </div>
  </div>
</section>
