<section class="engine"><a href="https://mobirise.info/h">how to create your own web page for free</a></section>
<section class="mbr-section form1 cid-s5JIDLyMU2" id="form1-m">


  <div class="container">
    <div class="row justify-content-center">
      <div class="title col-12 col-lg-8">
        <h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-2">Kontaktformular</h2>
        <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-5">
          Easily add subscribe and contact forms without any server-side integration.</h3>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="media-container-column col-lg-8">
        <form (ngSubmit)="onSubmit()" class="mbr-form form-with-styler"
              [formGroup]="formGroup">
          <div class="row">
            <div hidden="hidden" data-formclass="alert alert-success col-12">Herzlichen Dank für deine
              Kontaktaufnahme!
            </div>
            <div hidden="hidden" class="alert alert-danger col-12">
            </div>
          </div>
          <div class="dragArea row">
            <div class="col-md-6  form-group" data-for="name">
              <label for="name-form1-m" class="form-control-label mbr-fonts-style display-7">Name</label>
              <input type="text" name="name" required="required" class="form-control display-7"
                     id="name-form1-m" formControlName="name">
              <small
                class="text-danger">{{isNameInvalid() && name.errors?.required ? "Name darf nicht leer sein" : "&nbsp;"}}</small>
              <small
                class="text-danger">{{isNameInvalid() && name.errors?.pattern ? "Bitte geben Sie einen gültigen Namen an" : "&nbsp;"}}</small>
            </div>
            <div class="col-md-6  form-group" data-for="email">
              <label for="email-form1-m" class="form-control-label mbr-fonts-style display-7">Email</label>
              <input [class.is-invalid]="email.invalid && email.touched" type="email" name="email" required="required"
                     class="form-control display-7" id="email-form1-m" formControlName="email">
              <small
                class="text-danger">{{isEmailInvalid() && email.errors?.required ? "Email darf nicht leer sein" : "&nbsp;"}}</small>
              <small
                class="text-danger">{{isEmailInvalid() && email.errors?.pattern ? "Bitte geben Sie eine gültige E-Mail-Adresse an" : "&nbsp;"}}</small>
            </div>

            <div data-for="message" class="col-md-12 form-group">
              <label for="message-form1-m" class="form-control-label mbr-fonts-style display-7">Nachricht</label>
              <textarea name="message" required="required" class="form-control display-7"
                        id="message-form1-m" formControlName="message"></textarea>
              <small
                class="text-danger">{{isMessageInvalid() && message.errors?.required ? "Nachricht darf nicht leer sein" : "&nbsp;"}}</small>
              <small
                class="text-danger">{{isMessageInvalid() && message.errors?.pattern ? "Bitte geben Sie eine gültige Nachricht ein" : "&nbsp;"}}</small>
            </div>

            <div class="col-md-12 input-group-btn align-center">
              <button type="submit" class="btn btn-primary btn-form display-4" [disabled]="submitDisabled()">Absenden
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
