<section class="engine"><a href="https://mobirise.info/b">how to create a site</a></section>
<section class="counters6 counters cid-s5JHB5gXWl" id="counters6-l">


  <div class="container pt-4 mt-2">
    <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-2">Sponsoren</h2>
    <h3 class="mbr-section-subtitle pb-5 align-center mbr-fonts-style display-5">
      Responsive block with counters and media.
    </h3>
    <div>
      <div class="cards-container">
        <div class="card col-12 col-md-6 col-lg-4 pb-md-4">
          <div class="panel-item align-center">
            <div class="card-img pb-3">
              <h3 class="img-text mbr-fonts-style display-1">01.</h3>
            </div>
            <div class="card-text">
              <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">Honest and Dependable</h4>
              <p class="mbr-content-text mbr-fonts-style display-7">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae cupiditate rerum ipsum tempora
                vero.</p>
            </div>
          </div>
        </div>
        <div class="card col-12 col-md-6 col-lg-4 pb-md-4">
          <div class="panel-item align-center">
            <div class="card-img pb-3">
              <h3 class="img-text mbr-fonts-style display-1">02.</h3>
            </div>
            <div class="card-text">
              <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">We Are Always Improving</h4>
              <p class="mbr-content-text mbr-fonts-style display-7">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              </p>
            </div>
          </div>
        </div>
        <div class="card col-12 col-md-6 col-lg-4 last-child">
          <div class="panel-item align-center">
            <div class="card-img pb-3">
              <h3 class="img-text mbr-fonts-style display-1">03.</h3>
            </div>
            <div class="card-text">
              <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">We Are Passionate</h4>
              <p class="mbr-content-text mbr-fonts-style display-7">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae cupiditate rerum ipsum tempora
                vero.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
