/* You can add global styles to this file, and also import other style files */

.flex-column-center {
    flex-direction: column;
    justify-content: center;
}

.table-margin-top {
    margin-top: 100px;
}

.table-heads-no-hover th {
    background: unset !important;
    color: unset !important;
}

.table-rows-hover:hover td {
    transition-duration: 300ms;
    background: #cccccc !important;
    color: #000000 !important;
}

.player-table-parent {
    display: grid;
    grid-template-columns: minmax(max-content, 10%) 1fr 1fr minmax(max-content, 10%) minmax(max-content, auto);
}

.player-table-title {
    margin-top: 2rem;
    grid-column: 1 / 6;
}

.player-table-row {
    display: contents;
}

.player-table-row:hover > div:not(.player-table-detail) {
    transition-duration: 300ms;
    background: #aaaaaa !important;
    color: #000000 !important;
}

.player-table-head {
    font-weight: bold;
    background: #ffffff;
    padding: .75rem;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

.player-table-element {
    background: #ffffff;
    padding: .75rem;
    border-bottom: 1px solid #cccccc;
}

.player-table-col1 {
    grid-column: 1 / 2;
}

.player-table-col2 {
    grid-column: 2 / 3;
}

.player-table-col3 {
    grid-column: 3 / 4;
}

.player-table-col4 {
    grid-column: 4 / 5;
}

.player-table-col5 {
    grid-column: 5 / 6;
    text-align: right;
    width: 2.5rem;
}

.player-row-chevron {
    transition-duration: 300ms;
    transform: rotate(180deg);
}

.player-table-detail {
    grid-column: 1 / 6;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.player-detail-content {
    flex: 1 1 180px;
    margin: 0 auto;
    padding: 1% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.player-detail-image {
    max-width: 400px;
    justify-self: center;
}

.player-detail-info {
    margin: 1rem 0;
}

.player-detail-text {
    padding: 0 .75rem;
    font-size: large;
    border-bottom: 1px solid #cccccc;
}

.player-detail-text-description {
    padding: 0 .75rem;
    font-size: smaller;
    font-weight: lighter;
    color: #cccccc;
}

.gray-background {
    background-color: #cccccc;
}
