/* You can add global styles to this file, and also import other style files */

.flex-column-center {
    flex-direction: column;
    justify-content: center;
}

.table-margin-top {
    margin-top: 100px;
}

.table-heads-no-hover th {
    background: unset !important;
    color: unset !important;
}

.table-rows-hover:hover td {
    transition-duration: 300ms;
    background: #cccccc !important;
    color: #000000 !important;
}
