<section class="cid-qTkA127IK8 mbr-fullscreen mbr-parallax-background" id="header2-1">


    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(118, 118, 118);"></div>

    <div class="container align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">
                    FRONI FIGHTERS MOLLIS
                </h1>

                <p class="mbr-text pb-3 mbr-fonts-style display-5">
                    Der Glarner Unihockeyverein</p>
                <div class="mbr-section-btn"><a class="btn btn-md btn-secondary display-4" routerLink="/news">NEWS</a>
                </div>
            </div>
        </div>
    </div>
</section>
