<section class="engine"><a href="https://mobirise.info/e">make your own site</a></section>
<section class="section-table cid-s5JF6ioO7g mbr-fullscreen flex-column-center" id="table1-e">

  <app-players-table *ngIf="playersGoal" [position]="playersGoal.position"
                     [players]="playersGoal.players" class="player-table-parent container"></app-players-table>
  <app-players-table *ngIf="playersField" [position]="playersField.position"
                     [players]="playersField.players" class="player-table-parent container"></app-players-table>
  <app-players-table *ngIf="playersStaff" [position]="playersStaff.position"
                     [players]="playersStaff.players" class="player-table-parent container"></app-players-table>

</section>
