<section class="engine"><a href="https://mobirise.info/h">how to create your own web page for free</a></section>
<section class="mbr-section form1 cid-s5JIDLyMU2 mbr-fullscreen flex-column-center" id="form1-m">


    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-12 col-lg-8">
                <h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-2">Kontaktformular</h2>
                <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-5">
                    Diese Seite befindet sich im Aufbau.
                    <br>
                    In der Zwischenzeit wende dich bitte direkt an
                    <br>
                    <a href="mailto:info@froni-figters.ch">info@froni-fighters.ch</a>
                </h3>
            </div>
        </div>
    </div>

</section>
