<section class="header12 cid-s6303eEXrs mbr-fullscreen mbr-parallax-background" id="header12-15">


    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(35, 35, 35);"></div>

    <div class="container  ">
        <div class="media-container">
            <div class="col-md-12 align-center">
                <h1 class="mbr-section-title pb-3 mbr-white mbr-bold mbr-fonts-style display-1">
                    404: Seite nicht gefunden</h1>
                <p class="mbr-text pb-3 mbr-white mbr-fonts-style display-5">
                    Ich weiss nicht wonach du gesucht hast, aber hier ist es nicht, sorry.
                    <br>
                    Vielleicht eine der folgenden Seiten?
                </p>
                <div class="mbr-section-btn align-center py-2"><a class="btn btn-md btn-secondary display-4"
                    routerLink="/">
                    Startseite
                </a>
                </div>

                <div class="icons-media-container mbr-white">
                    <div class="card col-12 col-md-6 col-lg-3">
                        <div class="icon-block">
                            <a routerLink="/team">
                                <span class="mbr-iconfont mbri-users"></span>
                            </a>
                        </div>
                        <h5 class="mbr-fonts-style display-5">Team</h5>
                    </div>

                    <div class="card col-12 col-md-6 col-lg-3">
                        <div class="icon-block">
                            <a routerLink="/spieldaten">
                                <span class="mbr-iconfont mbri-contact-form"></span>
                            </a>
                        </div>
                        <h5 class="mbr-fonts-style display-5">
                            Spieldaten</h5>
                    </div>

                    <div class="card col-12 col-md-6 col-lg-3">
                        <div class="icon-block">
                            <a routerLink="/sponsoren">
                                <span class="mbr-iconfont mbri-flag"></span>
                            </a>
                        </div>
                        <h5 class="mbr-fonts-style display-5">
                            Sponsoren
                        </h5>
                    </div>

                    <div class="card col-12 col-md-6 col-lg-3">
                        <div class="icon-block">
                            <a routerLink="/kontakt">
                                <span class="mbr-iconfont mbri-letter"></span>
                            </a>
                        </div>
                        <h5 class="mbr-fonts-style display-5">
                            Kontakt
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
